/* #28B485 Primary color */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  /* font-family: "Tangerine", serif;
  font-size: 48px; */
}

/* *Preloader* */
#preloader {
  background: #28b485 url(../img/freeback.gif) no-repeat center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: 15%;
  z-index: 2000;
}
/* navigation */
.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 50px;
  height: 10vh;
  background: #28b485;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
/** HEADER STYLES**/

.navigation__logobox {
  height: 60px;
  position: absolute;
  top: -3px;
  left: 15px;
}
.navigation__logobox img {
  transform: rotate(280deg);
  width: 100px;
  height: 50px;
  object-fit: cover;
}
.navigation__logobox--text {
  color: #ffffff;
  position: absolute;
  font-size: 30px;
  top: 20px;
  left: 40px;
  font-weight: 700;
}
.navigation__nav-items {
  position: absolute;
  left: 450px;
}
.navigation__nav-items ul {
  width: 100%;
  list-style: none;
}
.navigation__nav-items ul li {
  display: inline-block;
  color: #ffffff;
  margin-right: 20px;
  text-transform: uppercase;
}
.navigation__nav-items ul li a {
  text-decoration: none;
  color: #ffffff;
}
.btn {
  width: 125.41px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  text-transform: uppercase;
}
.navigation__nav-items--signupbtn {
  background: none;
  cursor: pointer;
}
.navigation__nav-items--signupbtn:hover {
  background-color: #ffffff;
  color: #28b485;
}
.navigation__nav-items--loginbtn {
  background: none;
  border-style: none;
  cursor: pointer;
}
.navigation__nav-items--loginbtn:hover {
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.projects__container {
  margin-bottom: 150px;
}
.heading__primary {
  text-align: center;
  height: 56px;
  font-style: normal;
  font-size: 30px;
  line-height: 56px;
  color: #28b485;
  text-transform: capitalize;
  margin: 100px 0px;
}
/* *PROJECTS STYLES* */
.projects {
  padding: 0px 50px;
}
.project__card__container {
  display: flex;
}
.projects__card img {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
}
.projects__card {
  width: 395px;
  height: 50vh;
  margin: 0px 10px 30px 20px;
  position: relative;
}
.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid #ffffff;
  top: 0px;
  clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
}
.project__overlay:hover {
  background: rgba(40, 180, 133, 0.521);
  animation: MoveInTop 1s ease-out;
}

@keyframes MoveInTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
  }
}
.projects__description {
  position: absolute;
  top: 200px;
  transform: translateX(-50%, 50%);
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #28b485;
}
.projects__description:hover {
  opacity: 1;
}
.project__price {
  position: absolute;
  display: block;
  font-size: 80px;
  top: -150px;
  left: 250px;
  color: #ffffff;
  font-family: "Tangerine", serif;
}
.projects__description .projects__title span {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 800;
  margin-top: 10px;
  font-family: "Tangerine", serif;
}
.projects__link .projects__link-btn {
  text-decoration: none;
  color: #ffffff;
}

.projects__link .projects__link-btn span {
  display: block;
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
}
.link__container {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 140px;
}
.link__container img {
  width: 40px;
  height: 40px;
}
/* *FOOTER STYLES* */
.footer {
  width: 100%;
  background: #28b485;
  position: relative;
  padding: 20px 100px;
}
.footer__titles__container {
  display: flex;
  margin-bottom: 30px;
}
.footer__titles__container .footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}
.footer__logobox {
  height: 60px;
  position: absolute;
  top: 10px;
  left: 1000px;
}

.footer__logobox img {
  transform: rotate(280deg);
  width: 100px;
  height: 50px;
  object-fit: cover;
}
.footer__logobox--text {
  color: #ffffff;
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 40px;
  font-weight: 700;
}
.footer__contact__container {
  display: flex;
}
.footer__contact__form {
  width: 50%;
  background: #ffffff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.contact__info {
  width: 50%;
  background: #ffffff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  flex-direction: column;
}
.footer__contact__form form {
  padding: 50px;
}
.contact__info__overlay {
  width: 100%;
  height: 100%;
  background: rgba(40, 180, 133, 0.67);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  clip-path: polygon(
    38% 0,
    100% 0%,
    100% 75%,
    100% 100%,
    100% 100%,
    55% 100%,
    0 100%
  );
  position: relative;
}
.contact__info-heading {
  position: absolute;
  top: 50px;
  left: 220px;
  font-style: normal;
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #fffefe;
  text-transform: uppercase;
}
.underline__info {
  position: absolute;
  top: 90px;
  left: 255px;
  width: 200px;
  height: 3px;
  background-color: #ffffff;
}
.contact__info-items {
  position: absolute;
  top: 120px;
  left: 220px;
}
.contact__info-item {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer__contact__form input {
  width: 100%;
  border-style: none;
  border-bottom: 2px solid #28b485;
  outline: none;
  margin-bottom: 30px;
}
.footer__contact__form .message__box {
  width: 100%;
  border: 2px solid #28b485;
  outline: none;
}
.footer__contact__form .send__btn {
  border-style: none;
  background-color: #28b485b9;
  padding: 5px;
  width: 123px;
  height: 34px;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: all 1s ease-out;
}

.footer__contact__form .send__btn:hover {
  transform: translateY(2px);
}
.footer__contact__form .send__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-style: none;
  background-color: #28b485b9;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  z-index: -1;
  transition: all 1s ease-out;
}
.footer__contact__form .send__btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.socialmedia {
  position: absolute;
  top: 350px;
  left: 890px;
}
.socialmedia__heading {
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 5px;
  color: #fffefe;
  text-transform: uppercase;
  margin-top: 20px;
}
.underline__socialmedia__heading {
  width: 180px;
  height: 3px;
  margin-left: 30px;
  background-color: #ffffff;
}

.followme {
  display: flex;
  margin-top: 40px;
}
.followme__icon {
  margin-right: 30px;
}
.followme__icon a {
  text-decoration: none;
}
.followme__icon a img {
  width: 20px;
  height: 20px;
}
.followme__icon a:active {
  color: #ffffff;
}
.subscribe {
  margin-top: 30px;
}
.subscribe__field {
  width: 803.2px;
  background-color: #ffffff;
  margin-left: 160px;
}
.subscribe input {
  width: 500px;
  height: 100%;
  background: #ffffff;
  border-style: none;
  outline-style: none;
  text-indent: 10px;
}

.subscribe__btn {
  width: 300px;
  height: 40px;
  font-size: 17px;
  border-style: none;
  background: rgba(40, 180, 133, 0.67);
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.quicklinks {
  margin: 20px 0px 0px 0px;
}
.quicklinks ul {
  margin-top: 50px;
  width: 100%;
  list-style: none;
}
.quicklinks ul li {
  display: inline;
}
.quicklinks ul li a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

/* *MOBILE STYLES* */

@media (max-width: 1204px) {
  .navigation__logobox img {
    width: 90px;
    height: 50px;
  }
  .navigation__nav-items {
    left: 280px;
  }
  .navigation__nav-items ul li {
    margin-right: 10px;
  }
  .navigation__nav-items ul li a {
    font-size: 14px;
  }
  .projects {
    padding: 0px;
  }
  .project__card__container {
    padding: 0p;
  }

  .contact__info-heading {
    left: 160px;
    font-size: 20px;
  }
  .contact__info-items {
    left: 150px;
  }
  .socialmedia {
    left: 660px;
  }
  .socialmedia__heading {
    font-size: 20px;
  }

  .footer__logobox {
    left: 700px;
  }

  .underline__info {
    left: 185px;
    width: 150px;
  }
  .underline__socialmedia__heading {
    width: 140px;
    margin-left: 20px;
  }
  .subscribe__field {
    width: 750px;
    background-color: #ffffff;
    margin-left: 40px;
  }
  .subscribe input {
    width: 400px;
  }
  .subscribe input {
    width: 400px;
    height: 100%;
  }
  .subscribe__btn {
    width: 346.5px;
  }
}
@media (max-width: 768px) {
  .navigation__nav-items {
    display: none;
  }
  .projects {
    padding: 0px;
  }
  .project__card__container {
    flex-direction: column;
    padding: 0px;
  }
  .projects__card {
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }
  .projects__card:not(:last-child) {
    margin-bottom: 40px;
  }
  .projects__card img {
    width: 90%;
    height: 500px;
    border-radius: 5px;
  }

  .footer {
    padding: 0px 0px 20px 0px;
  }
  .footer__titles__container {
    padding: 0px 40px;
  }
  .footer__titles__container .footer__title {
    font-size: 35px;
    line-height: 56px;
  }
  .footer__logobox {
    top: 0px;
    left: 550px;
  }
  .footer__contact__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 50px;
  }
  .footer__contact__form {
    width: 100%;
    border-radius: 0px;
  }
  .contact__info {
    width: 100%;
    height: 100vh;
  }
  .contact__info-heading {
    left: 160px;
    font-size: 20px;
  }
  .contact__info-items {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .contact__info__overlay {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .socialmedia {
    position: absolute;
    top: 760px;
    left: 100px;
  }
  .subscribe__field {
    width: 603.2px;
    margin-left: 80px;
  }
  .subscribe__btn {
    width: 200px;
  }
  .quicklinks {
    margin: 20px 0px 0px 20px;
  }
}
@media (max-width: 425px) {
  .projects {
    padding: 0px;
  }
  .projects__card {
    width: 100%;
    height: 40%;
  }
  .project__card__container {
    padding: 0px 10px;
  }
  .projects__card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  .contact__info-items {
    position: absolute;
    top: 100px;
    left: 50px;
  }
  .contact__info-heading {
    top: 40px;
    left: 50px;
    font-size: 20px;
  }
  .underline__info {
    display: none;
  }
  .underline__socialmedia__heading {
    display: none;
  }
  .socialmedia {
    position: absolute;
    top: 700px;
    left: 70px;
  }

  .followme {
    display: flex;
    margin-top: 20px;
  }
  .footer__contact__container {
    padding: 0px 20px;
  }
  .footer__contact__form form {
    padding: 20px;
  }
  .subscribe {
    padding: 0px 20px;
  }
  .subscribe__field {
    width: 100%;
    margin-left: 0px;
  }
  .subscribe input {
    width: 281.5px;
    height: 100%;
  }
  .subscribe__btn {
    width: 100px;
  }
  .quicklinks {
    margin: 20px 0px 0px 10px;
  }
  .quicklinks ul li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    font-size: 16px;
  }
  .footer__titles__container {
    padding: 0px 20px;
  }
  .footer__logobox {
    top: 0px;
    left: 220px;
  }
}

@media (max-width: 375px) {
  .footer__logobox {
    top: 0px;
    left: 200px;
  }
  .subscribe input {
    width: 231.5px;
  }
  .quicklinks ul li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .footer__logobox {
    top: 0px;
    left: 140px;
  }
  .contact__info-item {
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .subscribe input {
    width: 176.5px;
  }
  .quicklinks ul li a {
    margin-right: 5px;
    font-size: 10px;
  }
}
