*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  /* font-family: "Tangerine", serif;
  font-size: 48px; */
}
/* *Preloader* */
#preloader {
  background: #20a87b url(../img/freeback.gif) no-repeat center center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: 15%;
  z-index: 2000;
}

/* navigation */
.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 50px;
  height: 10vh;
  background: #28b485;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
/** HEADER STYLES**/

.navigation__logobox {
  height: 60px;
  position: absolute;
  top: -3px;
  left: 15px;
}
.navigation__logobox img {
  transform: rotate(280deg);
  width: 100px;
  height: 50px;
  object-fit: cover;
}
.navigation__logobox--text {
  color: #ffffff;
  position: absolute;
  font-size: 30px;
  top: 20px;
  left: 40px;
  font-weight: 700;
}
.navigation__nav-items {
  position: absolute;
  left: 450px;
}
.navigation__nav-items ul {
  width: 100%;
  list-style: none;
}
.navigation__nav-items ul li {
  display: inline-block;
  color: #ffffff;
  margin-right: 20px;
  text-transform: uppercase;
}
.navigation__nav-items ul li a {
  text-decoration: none;
  color: #ffffff;
}
.btn {
  width: 125.41px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  text-transform: uppercase;
}
.navigation__nav-items--signupbtn {
  background: none;
  cursor: pointer;
}
.navigation__nav-items--signupbtn:hover {
  background-color: #ffffff;
  color: #28b485;
}
.navigation__nav-items--loginbtn {
  background: none;
  border-style: none;
  cursor: pointer;
}
.navigation__nav-items--loginbtn:hover {
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.resume {
  padding: 10px;
}

/* *FOOTER STYLES* */
.footer {
  width: 100%;
  background: #28b485;
  position: relative;
  padding: 20px 100px;
}
.footer__titles__container {
  display: flex;
  margin-bottom: 30px;
}
.footer__titles__container .footer__title {
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}
.footer__logobox {
  height: 60px;
  position: absolute;
  top: 10px;
  left: 1000px;
}

.footer__logobox img {
  transform: rotate(280deg);
  width: 100px;
  height: 50px;
  object-fit: cover;
}
.footer__logobox--text {
  color: #ffffff;
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 40px;
  font-weight: 700;
}
.footer__contact__container {
  display: flex;
}
.footer__contact__form {
  width: 50%;
  background: #ffffff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.contact__info {
  width: 50%;
  background: #ffffff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  flex-direction: column;
}
.footer__contact__form form {
  padding: 50px;
}
.contact__info__overlay {
  width: 100%;
  height: 100%;
  background: rgba(40, 180, 133, 0.67);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  clip-path: polygon(
    38% 0,
    100% 0%,
    100% 75%,
    100% 100%,
    100% 100%,
    55% 100%,
    0 100%
  );
  position: relative;
}
.contact__info-heading {
  font-style: normal;
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #fffefe;
  text-transform: uppercase;
}
.underline__info {
  width: 200px;
  height: 3px;
  background-color: #ffffff;
  margin-left: 30px;
  margin-bottom: 20px;
}
.contact__info-items {
  position: absolute;
  top: 50px;
  left: 220px;
}
.contact__info-item {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer__contact__form input {
  width: 100%;
  border-style: none;
  border-bottom: 2px solid #28b485;
  outline: none;
  margin-bottom: 30px;
}
.footer__contact__form .message__box {
  width: 100%;
  border: 2px solid #28b485;
  outline: none;
}
.footer__contact__form .send__btn {
  border-style: none;
  background-color: #28b485b9;
  padding: 5px;
  width: 123px;
  height: 34px;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: all 1s ease-out;
}

.footer__contact__form .send__btn:hover {
  transform: translateY(2px);
}
.footer__contact__form .send__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-style: none;
  background-color: #28b485b9;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  z-index: -1;
  transition: all 1s ease-out;
}
.footer__contact__form .send__btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.socialmedia {
  position: absolute;
  top: 350px;
  left: 904px;
}
.socialmedia__heading {
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 5px;
  color: #fffefe;
  text-transform: uppercase;
  margin-top: 20px;
}
.underline__socialmedia__heading {
  width: 180px;
  height: 3px;
  margin-left: 30px;
  background-color: #ffffff;
}

.followme {
  display: flex;
  margin-top: 40px;
}
.followme__icon {
  margin-right: 30px;
}
.followme__icon a {
  text-decoration: none;
}
.followme__icon a img {
  width: 20px;
  height: 20px;
}
.followme__icon a:active {
  color: #ffffff;
}
.subscribe {
  margin-top: 30px;
}
.subscribe__field {
  width: 803.2px;
  background-color: #ffffff;
  margin-left: 160px;
}
.subscribe input {
  width: 500px;
  height: 100%;
  background: #ffffff;
  border-style: none;
  outline-style: none;
  text-indent: 10px;
}

.subscribe__btn {
  width: 300px;
  height: 40px;
  font-size: 17px;
  border-style: none;
  background: rgba(40, 180, 133, 0.67);
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.quicklinks {
  margin: 20px 0px 0px 0px;
}
.quicklinks ul {
  margin-top: 50px;
  width: 100%;
  list-style: none;
}
.quicklinks ul li {
  display: inline;
}
.quicklinks ul li a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

/* *MEDIA QUERRIES* */

@media (max-width: 1204px) {
  .navigation__logobox img {
    width: 90px;
    height: 50px;
  }
  .navigation__nav-items {
    left: 280px;
  }
  .navigation__nav-items ul li {
    margin-right: 10px;
  }
  .navigation__nav-items ul li a {
    font-size: 14px;
  }
  .aboutme .aboutme__primary--heading {
    font-size: 30px;
  }

  .aboutme__description {
    width: 600px;
    margin-top: 80px;
  }
  .aboutme__description .aboutme__paragraph {
    width: 500px;
  }

  .aboutme__profile-picture {
    margin: 20px 0px 0px 80px;
    background-color: rgba(20, 97, 74, 0.692);
    width: 250px;
    height: 250px;
  }
  .aboutme__profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
  }
  .aboutme {
    display: flex;
    padding: 0px 50px;
    align-items: center;
  }
  .skills {
    padding: 0px 20px;
    position: relative;
    margin-bottom: 50px;
  }
  .services__container {
    padding: 100px 0px;
  }
  .services__row {
    padding: 0px 0px 0px 50px;
  }
  .services__card:not(:last-child) {
    margin-right: 20px;
  }
  .service__heading {
    margin-left: 50px;
  }
  .service__youtube {
    margin-left: 150px;
  }
  .projects {
    padding: 0px;
  }
  .project__card__container {
    padding: 0px 0px 0px 50px;
  }
  .projects__card {
    margin-right: 20px;
  }
  .blogs {
    padding: 0px 50px;
  }
  .blogs__container {
    width: 950px;
  }
  .contact__info-heading {
    left: 160px;
    font-size: 20px;
  }
  .contact__info-items {
    left: 150px;
  }
  .socialmedia {
    left: 660px;
  }
  .socialmedia__heading {
    font-size: 20px;
  }

  .footer__logobox {
    left: 700px;
  }

  .underline__info {
    left: 185px;
    width: 150px;
  }
  .underline__socialmedia__heading {
    width: 140px;
    margin-left: 20px;
  }
  .subscribe__field {
    width: 750px;
    background-color: #ffffff;
    margin-left: 40px;
  }
  .subscribe input {
    width: 400px;
  }
  .subscribe input {
    width: 400px;
    height: 100%;
  }
  .subscribe__btn {
    width: 346.5px;
  }
}

@media (max-width: 768px) {
  .navigation__nav-items {
    display: none;
  }
  .header {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .aboutme {
    flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 50px;
  }
  .aboutme__description {
    margin-top: 20px;
  }
  .aboutme__description .aboutme__paragraph {
    text-align: left;
    margin-top: 20px;
    width: 100%;
  }

  .aboutme__profile-picture {
    margin: 20px 0px 0px 0px;
    background-color: rgba(20, 97, 74, 0.692);
    width: 250px;
    height: 250px;
  }
  .aboutme__hirebtn {
    margin-top: 50px;
  }
  .skills {
    padding: 0px;
  }
  .skills__card-container {
    flex-direction: column;
    align-items: center;
  }
  .skill__card {
    border: 2px solid #28b485;
    width: 500px;
    height: 220px;
    border-radius: 5px;
  }
  .skill__card:not(:last-child) {
    margin-bottom: 50px;
  }
  .skills__card-img {
    display: none;
  }
  .figma-icon {
    display: none;
  }
  .services {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .services__container {
    padding: 20px 50px 50px 0px;
    align-items: center;
  }
  .services__card {
    margin-right: 0px;
    width: 100%;
  }
  .services__row {
    display: flex;
    flex-direction: column;
  }
  .service__youtube {
    margin-left: 35px;
  }
  .projects {
    padding: 0px 50px 50px -40px;
  }
  .skills__heading {
    margin-left: 50px;
  }
  .project__heading {
    margin-left: 50px;
  }
  .project__card__container {
    flex-direction: column;
  }
  .projects__card {
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }
  .projects__card:not(:last-child) {
    margin-bottom: 40px;
  }
  .projects__card img {
    width: 90%;
    height: 500px;
    border-radius: 5px;
  }
  .blogs__container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 10px;
  }
  .blogs__container:not(:last-of-type) {
    margin-bottom: 50px;
  }
  .blog__card-description {
    padding: 10px;
  }
  .blog__card-picture img {
    width: 100%;
    height: 400px;
    margin-left: 0px;
    object-fit: cover;
  }
  .footer {
    padding: 0px 0px 20px 0px;
  }
  .footer__titles__container {
    padding: 0px 40px;
  }
  .footer__titles__container .footer__title {
    font-size: 35px;
    line-height: 56px;
  }
  .footer__logobox {
    top: 0px;
    left: 550px;
  }
  .footer__contact__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 50px;
  }
  .footer__contact__form {
    width: 100%;
    border-radius: 0px;
  }
  .contact__info {
    width: 100%;
    height: 100vh;
  }
  .contact__info-heading {
    left: 160px;
    font-size: 20px;
  }
  .contact__info-items {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .contact__info__overlay {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .socialmedia {
    position: absolute;
    top: 760px;
    left: 100px;
  }
  .subscribe__field {
    width: 603.2px;
    margin-left: 80px;
  }
  .subscribe__btn {
    width: 200px;
  }
  .quicklinks {
    margin: 20px 0px 0px 20px;
  }
}

@media (max-width: 425px) {
  .header {
    height: 100%;
    padding-bottom: 50px;
  }
  .aboutme__description {
    width: 100%;
  }
  .aboutme__description .aboutme__paragraph {
    width: 100%;
  }
  .aboutme {
    padding: 0px 20px;
  }
  .skills {
    padding: 0px 20px;
  }
  .skill__card {
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }
  .services {
    padding: 50px 0px;
  }
  .services__container {
    padding: 0px 20px;
    align-items: center;
  }
  .services__row {
    padding: 0px;
  }
  .service__explore {
    padding: 0px;
  }
  .service__youtube {
    width: 100%;
    height: 300px;
    margin-left: 0px;
  }
  .project__card__container {
    padding: 0px 20px;
  }
  .projects__card {
    width: 100%;
    height: 40%;
  }
  .projects__card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .blogs {
    padding: 0px 20px;
  }
  .blog__card-picture img {
    width: 100%;
    height: auto;
  }
  .blog__card-description {
    height: 100%;
  }
  .footer__contact__container {
    padding: 0px 20px;
  }
  .footer__contact__form form {
    padding: 20px;
  }
  .subscribe {
    padding: 0px 20px;
  }
  .subscribe__field {
    width: 100%;
    margin-left: 0px;
  }
  .subscribe input {
    width: 281.5px;
    height: 100%;
  }
  .subscribe__btn {
    width: 100px;
  }
  .quicklinks {
    margin: 20px 0px 0px 10px;
  }
  .quicklinks ul li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    font-size: 16px;
  }
  .footer__titles__container {
    padding: 0px 20px;
  }
  .footer__logobox {
    top: 0px;
    left: 220px;
  }
  .skills__heading {
    margin-left: 0px;
  }
}

@media (max-width: 375px) {
  .footer__logobox {
    top: 0px;
    left: 200px;
  }
  .subscribe input {
    width: 231.5px;
  }
  .quicklinks ul li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .footer__logobox {
    top: 0px;
    left: 140px;
  }
  .contact__info-item {
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .subscribe input {
    width: 176.5px;
  }
  .quicklinks ul li a {
    margin-right: 5px;
    font-size: 10px;
  }
}
